main {
  background-color: #fff;

}

.header {
  padding: 10px;
  text-align: center;
  background-color: #000;
  img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 980px;
    margin: 0 auto;
  }
}

.contentHeader {
  padding: 20px;
  margin: 0 -15px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-align: left;
}


.content {
  background-color: #fff;
  min-height: 400px;
}


