.menu {
  z-index: 44;
  @media (max-width: 767px) {
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s linear;
    background-color: $white;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    @include _768 {
      flex-direction: row;
      padding: 0;
    }
    &-item {
      text-align: center;
      padding: 0;
      @include _768 {
        flex-grow: 1;
      }
      &-link {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
        color: #666;
        font-weight: 700;
        padding: 17px 0;
        cursor: pointer;
        transition: color 0.2s linear, background-color 0.2s linear;
        &:hover {
          color: #fff;
          background-color: black;
        }
      }
    }
  }
}
