$imgpath: "./../img/";
$fontpath: "./../fonts/";

$white: #fff;
$black: #000;
$dark-vanila: #DCBFA6;
$powder-blue: #B5E3D8;
$x11-gray: #BBBCBC;
$jet: #33332F;
$maximum-red: #DA291C;
$teal-deer: #8FE2B0;
$wheat: #EFDBB2;
$pale-aqua: #BDD6E6;
$light-steel-blue: #B6B8DC;
$primary: $powder-blue;
$success: $teal-deer;
$danger: $maximum-red;

$text-default: #343434;




